* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-default:#F5F4F0;
  --border-primary:#D9D9D9;

  --text-primary:#1B1B1B;
  --text-secondary:#333333;
  --text-tertiary:#696969;
  --text-headline:#E1624F;

  --accent-blue:#0C51A7;
  --accent-orange:#E95E10;
  --accent-pink:#E5245E;
  --accent-purple:#591B98;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 88px 80px 137px 80px;

  background-color: var(--background-default);
}

main {
  width: 1120px;
  height: 3054px;

  margin: auto;
}

.headline {
  color: var(--text-headline);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  margin-top: 64px;
}

.tittle-list-p {
  margin-bottom: 64px;
}

.tittle-page h1 {
  color: var(--text-primary);
  font-size: 36px;
  font-weight: bold;

  margin-top: 8px;
}

.description{
  margin: 40px 0 40px;
}

.description img {
  width: 1120px;
  height: 660px;
  border-radius: 28px;

  text-align: center;
}

p {
  color: var(--text-secondary);
  font-size: 16px;
}

.description p {
  font-style: italic;

  margin-top:24px ;
}

hr {
  color: var(--border-primary);
}

.content-list {
  margin: 64px 0 64px;
}

.content-list h2 {
  color: var(--text-primary);
  font-size: 32px;
  font-weight: bold;

  margin-bottom: 64px;
}

.card-travel {
  margin-bottom: 48px;
}

.card-travel img {
  width: 1120px;
  height: 350px;

  border-radius: 28px;
}

.content-card {
  margin-top:20px;
  margin-bottom:48px ;
}

h3 {
  color: var(--text-primary);
  font-size: 28px;
  font-weight: bold;
}

.great-for {
  color: var(--text-secondary);
  font-weight: bold;
  font-size: 16px;

}

ul li {
  color: var(--accent-blue);
  font-weight: bold;
}
